* {
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html, body {
    background:#f7f1f1;
    font-size:1.1rem;
    font-family:'Quicksand', sans-serif;
    height:100%;
}
@keyframes strikeitem {
    to { width:calc(100% + 1rem); }
}

#root {
    margin:4rem auto;
    padding:2rem 3rem 3rem;
    max-width:500px;
    background: #67bfb0;
    color:#FFF;
    box-shadow:-20px -20px 0px 0px rgba(100,100,100,.1);
}
/* fallback */
@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2') format('woff2');
}

@font-face {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/quicksand/v21/6xK-dSZaM9iE8KbpRA_LJ3z8mH9BOJvgkP8o58a-wg.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}

/*以下为优化前*/
/*ul,*/
/*li {*/
/*    list-style: none;*/
/*}*/

/*body {*/
/*    margin: 20px;*/
/*    color: #333;*/
/*    font-family: 'PingFang SC', 'Microsoft Yahei', sans-serif;*/
/*}*/

/*nav {*/
/*    margin: 20px 0;*/
/*}*/

nav a {
    padding: 0 10px;
    color: white;
    text-decoration: none;
}

nav .active {
    color: #eeeeee;
}

/*ul {*/
/*    padding: 20px 0;*/
/*}*/

/*.todo-cell {*/
/*    width: 400px;*/
/*    padding: 5px;*/
/*    margin: 10px 0;*/
/*    border: 1px solid #d6d6d6;*/
/*    border-radius: 5px;*/
/*}*/

/*.todo-cell:hover {*/
/*    border: 1px solid #999;*/
/*}*/

/*.todo-complete {*/
/*    position: relative;*/
/*    border-color: #0070c9;*/
/*}*/

/*.todo-complete::after {*/
/*    content: '✓';*/
/*    position: absolute;*/
/*    top: 50%;*/
/*    right: 10px;*/
/*    color: #61dafb;*/
/*    transform: translateY(-50%);*/
/*}*/

button {
    /*margin: 0 4px;*/
    /*padding: 0 14px;*/
    /*line-height: 32px;*/
    /*color: #232323;*/
    /*background: #EBF3FF;*/
    /*border: 1px solid #ccc;*/
    /*border-radius: 3px;*/
    outline: none;
}

button:hover {
    background: #F5F9FF;
    cursor: pointer;
}

input {
    flex-grow:1;
    border:none;
    background:#f7f1f1;
    padding:0 0.5em;
    font-size:initial;
}

/*input:focus {*/
/*    border: 1px solid #61dafb;*/
/*}*/

/*a {*/
/*    color: #333;*/
/*    text-decoration: none;*/
/*}*/

/*a:hover {*/
/*    color: #175199;*/
/*}*/

.todo-table {
    display: table;
    margin: 10px 0 30px;
}

.todo-row {
    display: table-row;
}

.todo-row:not(:first-child) {
    margin-top: -1px;
}

.cell {
    display: table-cell;
    width: 100px;
    text-align: center;
    border: 1px solid #eee;
}
/*以上为优化前*/



#root h1 {
    /*text-align:center;*/
    font-weight:normal;
    font-size:2.6rem;
    letter-spacing:0.05em;
    border-bottom:1px solid rgba(255,255,255,.3);
}
#root h1 span {
    display:block;
    font-size:0.8rem;
    margin-bottom:0.7rem;
    margin-left:3px;
    margin-top:0.2rem;
}

#root .emptylist {
    margin-top:2.6rem;
    text-align:center;
    letter-spacing:.05em;
    font-style:italic;
    opacity:0.8;

}
#root ul {
    margin-top:2.6rem;
    list-style:none;
}
#root .todolist-move {
    transition: transform 1s;
}
#root li {
    display:flex;
    margin:0 -3rem 4px;
    padding:1.1rem 3rem;
    justify-content:space-between;
    align-items:center;
    background:rgba(255,255,255,0.1);
}

#root .actions {
    flex-shrink:0;
    padding-left:0.7em;
}
#root .label {
    color: white;
    text-decoration: none;
    position:relative;
    transition:opacity .2s linear;
}

/*#counter {*/
/*    color: white;*/
/*    text-decoration: none;*/
/*    position:relative;*/
/*    transition:opacity .2s linear;*/
/*}*/

#root .todo-complete .label {
    opacity:.6;
}
#root .todo-complete .label:before {
    content:'';
    position:absolute;
    top:50%;
    left:-.5rem;
    display:block;
    width:0%;
    height:1px;
    background:#FFF;
    animation:strikeitem .3s ease-out 0s forwards;
}

#root .btn-picto {
    margin-top: 1em;
    float:right;
    outline: none;
    margin: 0 4px;
    border:none;
    background:none;
    -webkit-appearance:none;
    cursor:pointer;
    color:#FFF;
}

#input-edit {
    height: auto;
}

#root .btn-edit {
    /*float:left;*/
    outline: none;
    margin: 0 4px;
    border:none;
    background:none;
    -webkit-appearance:none;
    cursor:pointer;
    color:#FFF;
}

.todo-cell {
    width: 400px;
    padding: 5px;
    margin: 10px 0;
    /*border: 1px solid #d6d6d6;*/
    border-radius: 5px;
}

.todo-cell:hover {
    /*border: 1px solid #999;*/
}

/*counter*/
div label{
    min-width:100%;
    margin-bottom:.5rem;
    font-size:1.3rem;
}


/* FORM */
form {
    margin-top:3rem;
    display:flex;
    flex-wrap:wrap;
}
form label {
    min-width:100%;
    margin-bottom:.5rem;
    font-size:1.3rem;
}
form input {
    flex-grow:1;
    border:none;
    background:#f7f1f1;
    padding:0 1.5em;
    font-size:initial;
}
form button {
    padding:0 1.3rem;
    border:none;
    background:#FFcc63;
    color:white;
    text-transform:uppercase;
    font-weight:bold;
    border:1px solid rgba(255,255,255,.3);
    margin-left:5px;
    cursor:pointer;
    transition:background .2s ease-out;
}
form button:hover {
    background:#F5834d;
}
form input,
form button {
    font-family:'Quicksand', sans-serif;
    height:3rem;
}

